{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 mb-4">
            <div class="card text-center shadow-sm border-primary animate__animated animate__fadeInLeft">
                <div class="card-body">
                    <h4 class="card-title text-primary"><i class="fas fa-gamepad"></i> Jeux</h4>
                    <p class="card-text">Découvrez les jeux disponibles.</p>
                    <a href="{{ path('game.index') }}" class="btn btn-primary">Voir les jeux</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card text-center shadow-sm border-success animate__animated animate__fadeInRight">
                <div class="card-body">
                    <h4 class="card-title text-success"><i class="fas fa-trophy"></i> Tournois</h4>
                    <p class="card-text">Découvrez les tournois disponibles.</p>
                    <a href="{{ path('tournament.index') }}" class="btn btn-success">Voir les tournois</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}