{% extends 'base.html.twig' %}

{% block title %}Recettes: {{ game.title }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ game.title }}</h1>
                    <p class="card-text">{{ game.content | nl2br }}</p>
                    <a href="{{ path('game.index') }}" class="btn btn-secondary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
