{# filepath: /home/kiiba/Documents/Codings/cyber_games_arras/templates/booking/select.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sélectionner un ordinateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Sélectionner un ordinateur</h1>
    <div class="row">
        {% for computer in computers %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ computer.name }}</h5>
                        <p class="card-text">{{ computer.description }}</p>
                        <a href="{{ path('booking.new', {id: computer.id}) }}" class="btn btn-primary">Réserver</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucun ordinateur disponible pour réservation.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}