{% extends 'base.html.twig' %}
{% block title %}Recettes{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                        <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}" class="btn btn-primary">Voir la recette</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
